body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  .key_container {
    margin-top: 20px;
    height: auto; /* 自动高度 */
    overflow-y: auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    height: auto; /* 自动高度 */
  }
  
  input[type="input"] {
    width: 92%;
    padding: 25px;
    height: auto; /* 自动高度 */
    border: 1px solid #cccccc;
    overflow-y: auto;
  }
  
  input[type="text"] {
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  button#generate-key {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover#generate-key {
    background-color: #2d752f;
  }